--
-- PostgreSQL database dump
--

-- Dumped from database version 15.1
-- Dumped by pg_dump version 15.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: c_accesos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.c_accesos (
    id integer NOT NULL,
    nombrejc character varying NOT NULL,
    nombrepc character varying NOT NULL,
    tecnico character varying NOT NULL,
    supervisor character varying NOT NULL,
    causa character varying NOT NULL,
    inventario character varying NOT NULL,
    computadora_id integer NOT NULL,
    admin boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "pcId" integer,
    createdat timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.c_accesos OWNER TO postgres;

--
-- Name: c_accesos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.c_accesos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.c_accesos_id_seq OWNER TO postgres;

--
-- Name: c_accesos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.c_accesos_id_seq OWNED BY public.c_accesos.id;


--
-- Name: computadora; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.computadora (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    numero character varying NOT NULL,
    ip character varying NOT NULL,
    jc_id integer,
    pwd json,
    "setupPwd" json
);


ALTER TABLE public.computadora OWNER TO postgres;

--
-- Name: computadora_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.computadora_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.computadora_id_seq OWNER TO postgres;

--
-- Name: computadora_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.computadora_id_seq OWNED BY public.computadora.id;


--
-- Name: funciones_rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.funciones_rol (
    id integer NOT NULL,
    nombre character varying NOT NULL
);


ALTER TABLE public.funciones_rol OWNER TO postgres;

--
-- Name: funciones_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.funciones_rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.funciones_rol_id_seq OWNER TO postgres;

--
-- Name: funciones_rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.funciones_rol_id_seq OWNED BY public.funciones_rol.id;


--
-- Name: ini_sesion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ini_sesion (
    id integer NOT NULL,
    email character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ini_sesion OWNER TO postgres;

--
-- Name: ini_sesion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ini_sesion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ini_sesion_id_seq OWNER TO postgres;

--
-- Name: ini_sesion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ini_sesion_id_seq OWNED BY public.ini_sesion.id;


--
-- Name: jclub; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jclub (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    "municipioId" integer
);


ALTER TABLE public.jclub OWNER TO postgres;

--
-- Name: jclub_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jclub_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jclub_id_seq OWNER TO postgres;

--
-- Name: jclub_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jclub_id_seq OWNED BY public.jclub.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: municipio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipio (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    provincia_id integer NOT NULL
);


ALTER TABLE public.municipio OWNER TO postgres;

--
-- Name: municipio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.municipio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.municipio_id_seq OWNER TO postgres;

--
-- Name: municipio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.municipio_id_seq OWNED BY public.municipio.id;


--
-- Name: provincia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provincia (
    id integer NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.provincia OWNER TO postgres;

--
-- Name: provincia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.provincia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.provincia_id_seq OWNER TO postgres;

--
-- Name: provincia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.provincia_id_seq OWNED BY public.provincia.id;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    descripcion character varying DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public.rol OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rol_id_seq OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_id_seq OWNED BY public.rol.id;


--
-- Name: typeorm_metadata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.typeorm_metadata (
    type character varying NOT NULL,
    database character varying,
    schema character varying,
    "table" character varying,
    name character varying,
    value text
);


ALTER TABLE public.typeorm_metadata OWNER TO postgres;

--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id integer NOT NULL,
    nombre character varying(20) NOT NULL,
    apellidos character varying(30) NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    grupo_municipal boolean DEFAULT false NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "rolId" integer,
    "jcId" integer
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuario_id_seq OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: c_accesos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.c_accesos ALTER COLUMN id SET DEFAULT nextval('public.c_accesos_id_seq'::regclass);


--
-- Name: computadora id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.computadora ALTER COLUMN id SET DEFAULT nextval('public.computadora_id_seq'::regclass);


--
-- Name: funciones_rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funciones_rol ALTER COLUMN id SET DEFAULT nextval('public.funciones_rol_id_seq'::regclass);


--
-- Name: ini_sesion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ini_sesion ALTER COLUMN id SET DEFAULT nextval('public.ini_sesion_id_seq'::regclass);


--
-- Name: jclub id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jclub ALTER COLUMN id SET DEFAULT nextval('public.jclub_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: municipio id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio ALTER COLUMN id SET DEFAULT nextval('public.municipio_id_seq'::regclass);


--
-- Name: provincia id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provincia ALTER COLUMN id SET DEFAULT nextval('public.provincia_id_seq'::regclass);


--
-- Name: rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol ALTER COLUMN id SET DEFAULT nextval('public.rol_id_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Data for Name: c_accesos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: computadora; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: funciones_rol; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.funciones_rol (id, nombre) FROM stdin;
\.


--
-- Data for Name: ini_sesion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jclub; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jclub (id, nombre, "municipioId") FROM stdin;
1	Tunas 1	1
3	Tunas 3	1
2	Tunas 2	1
5	Tunas 4	1
6	Puerto Padre 1	2
7	Puerto Padre 2	2
8	Puerto Padre 3	2
9	Holgu├¡n 1	14
10	Tunas 5	1
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
\.


--
-- Data for Name: municipio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.municipio (id, nombre, provincia_id) FROM stdin;
1	Las Tunas	1
2	Puerto Padre	1
3	Manat├¡	1
4	Colombia	1
10	Majibacoa	1
11	Jobabo	1
12	Amancio	1
13	Jes├║s Men├®ndez	1
14	Holgu├¡n	12
\.


--
-- Data for Name: provincia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.provincia (id, nombre) FROM stdin;
1	Las Tunas
2	Artemisa
3	Mayabeque
4	Pinar del R├¡o
5	La Habana
6	Matanzas
7	Cienfuegos
8	Villa Clara
9	Sancti Sp├¡ritus
10	Ciego de ├üvila
11	Camag├╝ey
12	Holgu├¡n
13	Granma
14	Guant├ínamo
15	Santiago de Cuba
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rol (id, nombre, descripcion) FROM stdin;
1	Administrador	
3	DirectorMunicipal	
2	AdministradorProv	
8	Usuario	
5	AdministradorJC	
4	RSI	
6	Supervisor	
7	T├®cnico	
\.


--
-- Data for Name: typeorm_metadata; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.typeorm_metadata (type, database, schema, "table", name, value) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: c_accesos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.c_accesos_id_seq', 125, true);


--
-- Name: computadora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.computadora_id_seq', 7, true);


--
-- Name: funciones_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.funciones_rol_id_seq', 1, false);


--
-- Name: ini_sesion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ini_sesion_id_seq', 34, true);


--
-- Name: jclub_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jclub_id_seq', 13, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 1, false);


--
-- Name: municipio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipio_id_seq', 14, true);


--
-- Name: provincia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.provincia_id_seq', 15, true);


--
-- Name: rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rol_id_seq', 8, true);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_seq', 33, true);


--
-- Name: computadora PK_01dc83915a5b15fb7a0406168b2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.computadora
    ADD CONSTRAINT "PK_01dc83915a5b15fb7a0406168b2" PRIMARY KEY (id);


--
-- Name: funciones_rol PK_27c088f3152e6fd55d2c5bdf15f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funciones_rol
    ADD CONSTRAINT "PK_27c088f3152e6fd55d2c5bdf15f" PRIMARY KEY (id);


--
-- Name: jclub PK_5875181c7100323d123bb5e2e96; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jclub
    ADD CONSTRAINT "PK_5875181c7100323d123bb5e2e96" PRIMARY KEY (id);


--
-- Name: municipio PK_74346041a3332b7880d76c610f3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT "PK_74346041a3332b7880d76c610f3" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: c_accesos PK_a05bc21f783adf52a19e5065b1d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.c_accesos
    ADD CONSTRAINT "PK_a05bc21f783adf52a19e5065b1d" PRIMARY KEY (id);


--
-- Name: usuario PK_a56c58e5cabaa04fb2c98d2d7e2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "PK_a56c58e5cabaa04fb2c98d2d7e2" PRIMARY KEY (id);


--
-- Name: ini_sesion PK_b41f8c8922abc11bf25a3d42f4c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ini_sesion
    ADD CONSTRAINT "PK_b41f8c8922abc11bf25a3d42f4c" PRIMARY KEY (id);


--
-- Name: rol PK_c93a22388638fac311781c7f2dd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT "PK_c93a22388638fac311781c7f2dd" PRIMARY KEY (id);


--
-- Name: provincia PK_d30aa9eff4e019f83505484187f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provincia
    ADD CONSTRAINT "PK_d30aa9eff4e019f83505484187f" PRIMARY KEY (id);


--
-- Name: usuario UQ_2863682842e688ca198eb25c124; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "UQ_2863682842e688ca198eb25c124" UNIQUE (email);


--
-- Name: computadora FK_0566ec9f15e05b298e79a28e922; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.computadora
    ADD CONSTRAINT "FK_0566ec9f15e05b298e79a28e922" FOREIGN KEY (jc_id) REFERENCES public.jclub(id);


--
-- Name: municipio FK_0b278b0a0377580ec970f87df37; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT "FK_0b278b0a0377580ec970f87df37" FOREIGN KEY (provincia_id) REFERENCES public.provincia(id);


--
-- Name: usuario FK_611daf5befc024d9e0bd7bdf4da; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "FK_611daf5befc024d9e0bd7bdf4da" FOREIGN KEY ("rolId") REFERENCES public.rol(id);


--
-- Name: c_accesos FK_8085271b8f268584a87c37c9f17; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.c_accesos
    ADD CONSTRAINT "FK_8085271b8f268584a87c37c9f17" FOREIGN KEY (computadora_id) REFERENCES public.computadora(id);


--
-- Name: usuario FK_9270af2a7f7e176c66b7330b008; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "FK_9270af2a7f7e176c66b7330b008" FOREIGN KEY ("jcId") REFERENCES public.jclub(id);


--
-- Name: c_accesos FK_d11e42c8498345494b8e421caa5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.c_accesos
    ADD CONSTRAINT "FK_d11e42c8498345494b8e421caa5" FOREIGN KEY ("pcId") REFERENCES public.computadora(id);


--
-- Name: jclub FK_ec95e0896f6152c06f6df996665; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jclub
    ADD CONSTRAINT "FK_ec95e0896f6152c06f6df996665" FOREIGN KEY ("municipioId") REFERENCES public.municipio(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

